<% provide(:title, "New Collection") %>
<h1>New Collection</h1>

<% if @collection.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@collection.errors.count, "error") %>.
    </div>
    <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@collection, html: { multipart: true }) do |f| %>

  <%= f.label :title %><br>
  <%= f.text_field :title, placeholder: "New Collection" %><br>

  <%= f.label :date %><br>
  <%= f.date_select :date %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= f.file_field :cover %><br>

  <%= f.submit "Create collection" %>
<% end %>
