<% provide(:title, @collection.title) %>

<h1><%= @collection.title %></h1>
<%= @collection.date.to_s %>
<h3>Works (<%= @collection.works.count %>)</h3>

<% if signed_in? %>
	<%= link_to "Add new work", new_collection_work_path(@collection) %>
<% end %>

<% if @collection.works.any? %>
	<div>
  	<%= render @works %>
	</div>
<% end %>

<div id="comments">
<% for comment in @comments %>
  <div class="comment">
    <%= link_to comment.user.name, comment.user %> wrote <%= comment.content %> on <%= comment.commentable.title %>
    <% if comment.user == current_user %>
    	| <%= link_to "delete", collection_comment_path(@collection, comment), method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </div>
<% end %>
</div>


<h2>New Comment</h2>

<%= form_for [@commentable, @comment] do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>