<% provide(:title, @collection.title) %>

<h1><%= @collection.title %></h1>
<%= @collection.date.to_s %>
<h3>Works (<%= @collection.works.count %>)</h3>

<% if signed_in? %>
	<%= link_to "Add new work", new_collection_work_path(@collection) %>
<% end %>

<% if @collection.works.any? %>
	<div id="masonry-container" class="transitions-enabled masonry clearfix">
  	<%= render @works %>
	</div>
<% end %>

<div id="comments">
<% for comment in @comments %>
  <div class="comment">
    <%= comment.content %>
  </div>
<% end %>
</div>


<h2>New Comment</h2>

<%= form_for [@commentable, @comment] do |f| %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>