<% provide(:title, "Edit profile") %> 
<h1>Update your profile - in progress</h1>

<div class="row">
  <div class="span6 offset3">
    
    <%= form_tag(updatepicture_user_path(@user), method: :put) do %>
      <%= file_field_tag :picture %>
      <%= submit_tag "Update picture", class: "btn btn-large btn-primary" %>
    <% end %>
    
    <%= form_tag(updatedescription_user_path(@user), method: :put) do %>
      <%= text_area_tag :description %>
      <%= submit_tag "Update description", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
