<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @user.name %>
				 <% if signed_in? %>
          | <%= link_to "edit", user_collections_path(current_user) %>
        <% end %>
			</h1>
		</section>
	</aside>
</div>

<ul>
  <% @collections.each do |collection| %>
    <li>
      <h4><%= link_to collection.title, collection %></h4>
      <p><%= collection.date.to_s %></p>
      <%= link_to image_tag(collection.cover, size: '150x150'), collection %>
      <%= link_to image_tag(collection.cover(:thumb)), collection %>
      <%= pluralize(collection.works.count, "work") %>
  	</li>
  <% end %>
</ul>